#  Задача 1

### 1.1 Импорт данных

In [1]:
import pandas as pd
import binascii
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import pearsonr, spearmanr, mannwhitneyu, ttest_ind

In [2]:
df_start = pd.read_excel('Проект 4 исходник.xlsx')
df_start['time_view'] = pd.to_datetime(df_start['time_view'])
df_start.sort_values('time_view')

           id_view               time_view  id_group  id_city  nflag_order
3043   10457124180 2023-01-01 00:02:13.376         0        1            1
1105   10457160244 2023-01-01 00:02:25.620         1        3            1
9366   10457162957 2023-01-01 00:03:04.728         1        1            1
14669  10457178200 2023-01-01 00:05:37.484         0        1            0
3131   10457133790 2023-01-01 00:08:12.159         1        8            1
...            ...                     ...       ...      ...          ...
12054  10457174730 2023-01-31 23:50:46.254         0        1            1
2001   10457127969 2023-01-31 23:51:33.602         1        2            1
445    10457163593 2023-01-31 23:53:42.231         1        8            1
16724  10457140831 2023-01-31 23:56:52.597         0        1            0
2054   10457133467 2023-01-31 23:57:58.622         1        3            1

[21939 rows x 5 columns]

In [3]:
df = df_start

In [4]:
city_dict = pd.read_excel('Проект 4 исходник.xlsx',sheet_name='city_dict')
city_dict.set_index('id_city',inplace=True)

In [5]:
df = df.merge(city_dict, on='id_city')
df.sort_values('time_view',inplace=True)
df.reset_index(drop=True, inplace=True)

In [6]:
df

,id_view,time_view,id_group,id_city,nflag_order,name_city
0,10457124180,2023-01-01 00:02:13.376,0,1,1,Москва
1,10457160244,2023-01-01 00:02:25.620,1,3,1,Новосибирск
2,10457162957,2023-01-01 00:03:04.728,1,1,1,Москва
3,10457178200,2023-01-01 00:05:37.484,0,1,0,Москва
4,10457133790,2023-01-01 00:08:12.159,1,8,1,Нижний Новгород
...,...,...,...,...,...,...
21934,10457174730,2023-01-31 23:50:46.254,0,1,1,Москва
21935,10457127969,2023-01-31 23:51:33.602,1,2,1,Санкт-Петербург
21936,10457163593,2023-01-31 23:53:42.231,1,8,1,Нижний Новгород
21937,10457140831,2023-01-31 23:56:52.597,0,1,0,Москва
21938,10457133467,2023-01-31 23:57:58.622,1,3,1,Новосибирск

In [7]:
def test_calc(r1, r2, alpha = 0.05):
    
    s,p = ttest_ind(r1,r2)
    
    if p < alpha:
        print("Гипотеза H0 не подтверждается: средние не равны")
    else:
        print("Гипотеза H0 подтверждается: средние равны")
    
    print("Среднее значение 1 ряда", r1.mean())
    print("Среднее значение 2 ряда", r2.mean())
    print("Разница средних = ", r1.mean()-r2.mean())
    print("P_value = ",p)
    return s, p

### 3.2 Общий анализ

In [8]:
test_calc(df[df['id_group']==0]['nflag_order'],df[df['id_group']==1]['nflag_order'])

Гипотеза H0 не подтверждается: средние не равны
Среднее значение 1 ряда 0.6150932939220395
Среднее значение 2 ряда 0.6757851165301899
Разница средних =  -0.060691822608150425
P_value =  5.1365957325220535e-21

(-9.41595134321716, 5.1365957325220535e-21)

Прирост очевидный, понижение цены увеличило конверсию просмотра в заказ.

### 3.3 Анализ по городам

In [9]:
success_city = []

for city in city_dict['name_city']:
    print('   ', city, ':')
    print('    Количество наблюдений общее:' ,              len(df.loc[df['name_city']==city]['nflag_order']))
    print('    Количество наблюдений контрольная группа:' , len(df[df['id_group']==0].loc[df['name_city']==city]['nflag_order']))
    print('    Количество наблюдений тестовая группа:'    , len(df[df['id_group']==1].loc[df['name_city']==city]['nflag_order']))
    s,p = test_calc(df[df['id_group']==0].loc[df['name_city']==city]['nflag_order'] , \
                    df[df['id_group']==1].loc[df['name_city']==city]['nflag_order'] )
    print()
    print()
    if p < 0.05:
        success_city.append(city)

print('Города, где AB тест показал себя успешно:', success_city)

    Москва :
    Количество наблюдений общее: 8849
    Количество наблюдений контрольная группа: 4405
    Количество наблюдений тестовая группа: 4444
Гипотеза H0 не подтверждается: средние не равны
Среднее значение 1 ряда 0.6172531214528945
Среднее значение 2 ряда 0.691944194419442
Разница средних =  -0.07469107296654753
P_value =  1.368947706664987e-13


    Санкт-Петербург :
    Количество наблюдений общее: 4959
    Количество наблюдений контрольная группа: 2431
    Количество наблюдений тестовая группа: 2528
Гипотеза H0 не подтверждается: средние не равны
Среднее значение 1 ряда 0.6083916083916084
Среднее значение 2 ряда 0.6791930379746836
Разница средних =  -0.07080142958307512
P_value =  1.8595141124883944e-07


    Новосибирск :
    Количество наблюдений общее: 3287
    Количество наблюдений контрольная группа: 1609
    Количество наблюдений тестовая группа: 1678
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.6283405842137973
Среднее значение 2 ряда 0.6531585220500596
Разница средних =  -0.024817937836262294
P_value =  0.13822636677161423


    Казань :
    Количество наблюдений общее: 1261
    Количество наблюдений контрольная группа: 639
    Количество наблюдений тестовая группа: 622
Гипотеза H0 не подтверждается: средние не равны
Среднее значение 1 ряда 0.596244131455399
Среднее значение 2 ряда 0.6784565916398714
Разница средних =  -0.08221246018447237
P_value =  0.0023855694044274188


    Краснодар :
    Количество наблюдений общее: 652
    Количество наблюдений контрольная группа: 305
    Количество наблюдений тестовая группа: 347
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.6163934426229508
Среднее значение 2 ряда 0.659942363112392
Разница средних =  -0.043548920489441145
P_value =  0.24850395048260338


    Челябинск :
    Количество наблюдений общее: 736
    Количество наблюдений контрольная группа: 370
    Количество наблюдений тестовая группа: 366
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.5945945945945946
Среднее значение 2 ряда 0.6420765027322405
Разница средних =  -0.047481908137645856
P_value =  0.18541963354338323


    Сочи :
    Количество наблюдений общее: 658
    Количество наблюдений контрольная группа: 297
    Количество наблюдений тестовая группа: 361
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.6397306397306397
Среднее значение 2 ряда 0.6509695290858726
Разница средних =  -0.011238889355232873
P_value =  0.7646178932512717


    Нижний Новгород :
    Количество наблюдений общее: 390
    Количество наблюдений контрольная группа: 191
    Количество наблюдений тестовая группа: 199
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.643979057591623
Среднее значение 2 ряда 0.6482412060301508
Разница средних =  -0.004262148438527791
P_value =  0.9301037909783129


    Воронеж :
    Количество наблюдений общее: 343
    Количество наблюдений контрольная группа: 174
    Количество наблюдений тестовая группа: 169
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.6494252873563219
Среднее значение 2 ряда 0.6390532544378699
Разница средних =  0.010372032918452012
P_value =  0.8415715510394312


    Архангельск :
    Количество наблюдений общее: 388
    Количество наблюдений контрольная группа: 201
    Количество наблюдений тестовая группа: 187
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.572139303482587
Среднее значение 2 ряда 0.6684491978609626
Разница средних =  -0.09630989437837556
P_value =  0.0511754082950276


    Хабаровск :
    Количество наблюдений общее: 416
    Количество наблюдений контрольная группа: 204
    Количество наблюдений тестовая группа: 212
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.5882352941176471
Среднее значение 2 ряда 0.6556603773584906
Разница средних =  -0.06742508324084351
P_value =  0.156865633792813


Города, где AB тест показал себя успешно: ['Москва', 'Санкт-Петербург', 'Казань']

### 3.3 Анализ по времени и городам

In [14]:
def is_peak_hour(hour):
    return 1 if hour in [7,8,9,10,17,18,19,20] else 0

In [15]:
df['peak_hour_flag'] = df['time_view'].dt.hour.apply(is_peak_hour)

In [16]:
print ('Час-пик:')
test_calc(df[df['id_group']==0].loc[df['peak_hour_flag']==1]['nflag_order'] , \
          df[df['id_group']==1].loc[df['peak_hour_flag']==1]['nflag_order'])
print ()
print ('Не час-пик:')
test_calc(df[df['id_group']==0].loc[df['peak_hour_flag']==0]['nflag_order'] , \
          df[df['id_group']==1].loc[df['peak_hour_flag']==0]['nflag_order'])

Час-пик:
Гипотеза H0 не подтверждается: средние не равны
Среднее значение 1 ряда 0.6051008968609866
Среднее значение 2 ряда 0.6770637268082818
Разница средних =  -0.07196282994729519
P_value =  1.4294522784350877e-10

Не час-пик:
Гипотеза H0 не подтверждается: средние не равны
Среднее значение 1 ряда 0.6200055111600992
Среднее значение 2 ряда 0.6751420070327292
Разница средних =  -0.05513649587263003
P_value =  2.723734415858154e-12

(-6.99724331712408, 2.723734415858154e-12)

In [17]:
success_city_ph = []
success_city_no_ph = []

for city in city_dict['name_city']:
    print('   ', city, ':')
    print ('Час-пик:')
    s,p = test_calc(df[df['id_group']==0].loc[df['peak_hour_flag']==1].loc[df['name_city']==city]['nflag_order'] , \
                    df[df['id_group']==1].loc[df['peak_hour_flag']==1].loc[df['name_city']==city]['nflag_order'] )
    print()
    if p < 0.05:
        success_city_ph.append(city)
    print ('Не час-пик:')
    s,p = test_calc(df[df['id_group']==0].loc[df['peak_hour_flag']==0].loc[df['name_city']==city]['nflag_order'] , \
                    df[df['id_group']==1].loc[df['peak_hour_flag']==0].loc[df['name_city']==city]['nflag_order'] )
    print()
    print()
    if p < 0.05:
        success_city_no_ph.append(city)


print('Города, где AB тест показал себя успешно в час-пик:', success_city_ph)
print('Города, где AB тест показал себя успешно в обычное время:', success_city_no_ph)

    Москва :
Час-пик:
Гипотеза H0 не подтверждается: средние не равны
Среднее значение 1 ряда 0.5955284552845529
Среднее значение 2 ряда 0.7137014314928425
Разница средних =  -0.11817297620828959
P_value =  1.3449585112087216e-11

Не час-пик:
Гипотеза H0 не подтверждается: средние не равны
Среднее значение 1 ряда 0.6282007511095937
Среднее значение 2 ряда 0.6812227074235808
Разница средних =  -0.053021956313987095
P_value =  1.8030823524055564e-05


    Санкт-Петербург :
Час-пик:
Гипотеза H0 не подтверждается: средние не равны
Среднее значение 1 ряда 0.5870393900889453
Среднее значение 2 ряда 0.6876484560570071
Разница средних =  -0.10060906596806174
P_value =  2.3018931356634527e-05

Не час-пик:
Гипотеза H0 не подтверждается: средние не равны
Среднее значение 1 ряда 0.6186131386861314
Среднее значение 2 ряда 0.67497034400949
Разница средних =  -0.05635720532335853
P_value =  0.0006634181415393023


    Новосибирск :
Час-пик:
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.6221804511278195
Среднее значение 2 ряда 0.621160409556314
Разница средних =  0.0010200415715054811
P_value =  0.9720136785031339

Не час-пик:
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.6313834726090993
Среднее значение 2 ряда 0.6703296703296703
Разница средних =  -0.03894619772057095
P_value =  0.05713158719650457


    Казань :
Час-пик:
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.616504854368932
Среднее значение 2 ряда 0.6754385964912281
Разница средних =  -0.05893374212229607
P_value =  0.2002762566391693

Не час-пик:
Гипотеза H0 не подтверждается: средние не равны
Среднее значение 1 ряда 0.5866050808314087
Среднее значение 2 ряда 0.6802030456852792
Разница средних =  -0.09359796485387051
P_value =  0.005293033628095924


    Краснодар :
Час-пик:
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.6476190476190476
Среднее значение 2 ряда 0.6173913043478261
Разница средних =  0.030227743271221574
P_value =  0.6442383702874777

Не час-пик:
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.6
Среднее значение 2 ряда 0.6810344827586207
Разница средних =  -0.08103448275862069
P_value =  0.07986478581861883


    Челябинск :
Час-пик:
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.5446428571428571
Среднее значение 2 ряда 0.6476190476190476
Разница средних =  -0.10297619047619055
P_value =  0.1237363274504953

Не час-пик:
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.6162790697674418
Среднее значение 2 ряда 0.6398467432950191
Разница средних =  -0.02356767352757727
P_value =  0.5794483726891864


    Сочи :
Час-пик:
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.6826923076923077
Среднее значение 2 ряда 0.6097560975609756
Разница средних =  0.07293621013133211
P_value =  0.25502592398451396

Не час-пик:
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.616580310880829
Среднее значение 2 ряда 0.6722689075630253
Разница средних =  -0.05568859668219628
P_value =  0.22985058905643937


    Нижний Новгород :
Час-пик:
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.7258064516129032
Среднее значение 2 ряда 0.6567164179104478
Разница средних =  0.06909003370245548
P_value =  0.4005853172724114

Не час-пик:
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.6046511627906976
Среднее значение 2 ряда 0.6439393939393939
Разница средних =  -0.039288231148696284
P_value =  0.5141111795790406


    Воронеж :
Час-пик:
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.6888888888888889
Среднее значение 2 ряда 0.5833333333333334
Разница средних =  0.10555555555555551
P_value =  0.2723181086830401

Не час-пик:
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.6356589147286822
Среднее значение 2 ряда 0.6697247706422018
Разница средних =  -0.03406585591351963
P_value =  0.5845786106982978


    Архангельск :
Час-пик:
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.6428571428571429
Среднее значение 2 ряда 0.6491228070175439
Разница средних =  -0.006265664160400974
P_value =  0.9420452474062314

Не час-пик:
Гипотеза H0 не подтверждается: средние не равны
Среднее значение 1 ряда 0.5343511450381679
Среднее значение 2 ряда 0.676923076923077
Разница средних =  -0.14257193188490902
P_value =  0.01839734179372456


    Хабаровск :
Час-пик:
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.5652173913043478
Среднее значение 2 ряда 0.6376811594202898
Разница средних =  -0.07246376811594202
P_value =  0.3883491152696731

Не час-пик:
Гипотеза H0 подтверждается: средние равны
Среднее значение 1 ряда 0.6
Среднее значение 2 ряда 0.6643356643356644
Разница средних =  -0.0643356643356644
P_value =  0.2676018222456092


Города, где AB тест показал себя успешно в час-пик: ['Москва', 'Санкт-Петербург']
Города, где AB тест показал себя успешно в обычное время: ['Москва', 'Санкт-Петербург', 'Казань', 'Архангельск']

# 3.5 Итоги

In [18]:
print('Города, где AB тест показал себя успешно:', success_city)
print('Города, где AB тест показал себя успешно в час-пик:', success_city_ph)
print('Города, где AB тест показал себя успешно в обычное время:', success_city_no_ph)

Города, где AB тест показал себя успешно: ['Москва', 'Санкт-Петербург', 'Казань']
Города, где AB тест показал себя успешно в час-пик: ['Москва', 'Санкт-Петербург']
Города, где AB тест показал себя успешно в обычное время: ['Москва', 'Санкт-Петербург', 'Казань', 'Архангельск']

В общем и целом снижение цены увеличивает конверсию, НО статистическая разница есть только в трех городах, а если еще и дробить по час-пикам, то применять нововведение необходимо в Москве и Питере, и не для час-пиков в Казани и Архангельске.